@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
/* @import url("../fonts/*.ttf"); */
* {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.selected a span {
  color: var(--main-color);
}

button {
  background: none;
  border: none;
  width: 188px;
  height: 41px;
}
button:hover {
  
    background: transparent;
    transition: 0.2s;
    opacity: 0.7;

}
h2 {
  font-size: 50px;
  font-weight: 500;
  color: white;
  line-height: 60px;
}

a:hover{
  text-decoration: none;
  color: var(--main-color);
}

h4 {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
nav .dropdown{
position: unset;
}

 /* # NAV  */
.navbar {
  background-color: transparent;
  padding-top: 10vh;
  height: auto;
  position: relative
}

.navbar-expand-lg {
  align-items: start;
  padding: 4vh 3.5vw !important;
}

ul.navbar-nav > li.nav-item {
  font-size: max(2vh,15pt);
  margin: 0 40px;
}

@media  (max-height: 790px) {
  .main {
    height: auto ;
    padding-bottom:4vh;
  }
  .logo-header img{
    height: 3.5vh;
}

h4 {
  color: var(--main-color);
  font-size: 14px !important;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

} 

@media (min-width:1800px) {
  .container {max-width: 1600px;
  }

}