footer{
    background-color: #0D0030;
    width: 100vw;
    height: 55vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 7vh 0 3vh;
    overflow-y: hidden;
  }
  
  #logo-footer{
    text-align: center;
    margin: 0 auto;
    width: 100vw;
  }
  
  #logo-footer img{
    align-self: center;
    width: 259px;
    height: 38px;
  }
  
  #info-footer{
    width: 70%;
    margin: 5vh auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  footer ul li {
    list-style-type: none;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.05rem;
  }
  
  footer a {
    list-style-type: none;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.05rem;
  }
  
  footer a:hover {
   color: #f82b75;
   text-decoration: none;
  }
  
  .links{
    display: flex;
    flex-direction: column;
  }

  .links a{
    font-size: max(1rem, 16px);
  }
  
  footer ul h4 {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.05rem;
  }
  
.company {
    bottom:3vh;
    text-align: center;
    margin: 0 auto;
    width: 50vw;
  }
  
.company p{

   font-size: 15px;
   font-weight: 300;
   color: #f1f1f1;
   margin: 4vh 0 0;
  }
  
  #icons-footer {
text-align: center;
margin-left:3vw;
   }

  #icons-footer img{
   height: 23px;
   width: 23px;
   margin:0.5vh 0.25vw
  }
  
  #backtotop {
    position: fixed;
    right:3vw;
    bottom:1vh
  }
  #backtotop img{
    position: absolute;
    right:2vw;
    bottom:10vh;
    height: 3rem;

  }

  .main{
    height: auto !important;
  }
  @media  (max-width: 1200px){
    footer{
      height: 70vh !important;
      padding: 10vh 0 3vh;
      overflow-y: hidden;
      justify-content: end;
  }
    
}

  @media  (max-width: 790px) {
     footer{
        height: auto !important;
        padding: 10vh 0 3vh;
        overflow-y: hidden;
        justify-content: end;
    }
    #info-footer{
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
    }
    .links {
        margin:2vh 0
    }
    #icons-footer {
       order:1;
      margin: 1vh 0 0;
      text-align: start;
       }
       #backtotop {
        position: fixed;
        right:4vw;
        bottom:1vh
      }  
      #logo-footer img{
        align-self: center;
        width: 259px;
        height: 26px;
      }
      
  } 