
header {
    background-image: url('../../img/bg02.webp');
    height: 100vh !important;
    background-size: cover;
    background-position: center center
}
#header-index {
    height: 100vh !important;
}
nav a {
    color: white;
}

.after-nav {
    margin-top: 17vh;
}

nav button a>img:hover{
    background: transparent;
    transition: 0.2s;
    opacity: 0.7;
}

.menu {
    display: none;
}
.row{
    margin:0
}

.text {
    display: flex;
    justify-content: right;
    width: 60%;
}
.text > div {
    padding-left:7vw
}

.text h1 {
    font-size: max(4vw, 18pt);
    color: white;
    font-weight: 200;
    margin-top: -60px;
    text-align: start;
}

.connect {
    margin:10vh 0 5vh;
    position: relative;
}
.connect p{
    transform: rotate(270deg);
    font-size: max(0.6rem, 14px);
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin:5vh 0 
}
.connect-bar>.connect p:hover{
    color: var(--main-color);
}
.bar img{
    margin:2vh 0;
}
.bar img:hover{
    transform:rotateZ(180deg)
}
  
.text h1 span {
    background-color: var(--main-color);
}

button#contact2 {
    display: none;
}

#scroll-img {
    height: max(20vw, 250px);
    margin: 3vh 0;
}

@media only screen and (max-width: 1090px){
    button#contact {
        display: none;
    }
    button#contact2 {
        display: unset;
    }
    .text h1 span {
    padding: 0 3vw;
    }
    .after-nav {
        margin-top: 13vh;
    }
    .text {
        justify-content: center;
        margin-bottom: 20px;
    }
    .text>div:first-child {
        display: flex;
        flex-direction: column;
        gap: max(3vw, 20px);
        align-items: center;
        width: 70vw;
    }
    .text>div:last-child {
        width: 0;
    }
    .text h1 {
        text-align: center;
    }
    
}

@media only screen and (max-width: 990px){
    .connect p{
        transform: rotate(270deg);
        font-size: 11px;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 0.2rem;
        margin:4vh 0 
    }
    header {
        padding: 0;
    }
    .connect {
        margin:8vh 0 5vh;
    }
    .bar{
        margin:0 0 7vh
    }
    .text {
        display: flex;
        justify-content: right;
        width: 60%;
        margin:0 auto !important
    }
    .text h1 {
        font-size: max(4vw, 27pt);
        color: white;
        font-weight: 200;
        margin-top: -60px;
    }
    ul.nav-ul {
        display: none !important;
    }
    .menu {
        display: unset;
    }
    .menu>li{
       list-style: none;
    }
    .menu .nav-link{
        position: absolute;
        right: 2vw;
        top:2vh
    }
    a.dropdown-toggle::after {
       display: none !important;
    }
    .dropdown-menu{
        background-color: transparent;
        border: none;
        text-align: center;
        left: unset;
        right:0;
    }
    .dropdown-menu a{
        color: #ffffff;
        padding: 0.25rem 1rem;
    }
    .menu a img{
        height: 4vw;
    }
    .dropdown-menu a:hover{
        color: var(--main-color);
        background-color: transparent;
    }
    .dropdown-menu.show {
        display: flex !important;
        top: 8vh;
    }
}

@media only screen and (max-width: 790px){
    .text {
        display: flex;
        justify-content: right;
        width: 100%;
        margin:0 auto !important
    }

    .text>div:first-child {
        display: flex;
        flex-direction: column;
        gap: max(5vw, 30px);
        align-items: center;
        width: 100vw;
        justify-content: space-evenly;
    }
    .menu a img{
        height: 5vw;
    }
    .menu>li{
        list-style: none;
     }
    .dropdown-menu a:hover{
        color: var(--main-color);
        background-color: transparent;
    }
    .dropdown-menu.show {
        display: flex !important;
        top: 8.5vh !important;
    }
}