#imprint-body {
    background-image: url("../../img/bg02.webp");
    background-size: cover;
    width: 100vw;
    position: relative;
    background-color: #0C012D;  }

 .page-imprint {
     display: block;
 }
  
#limited{
    width: 70vw;
    margin: 0 auto;
}

.limited h3{
    color:#E73A7F;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.15rem;
    text-align: start;
    width: 75vw;
}

.limited-row{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: start;
    gap: 25px;
}

.section-limited {
    margin:5vh 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.limited-info-1 {
    width: auto;
    margin :0 2vw 0 0
}
.limited-info-1 h4{
    margin: 1vh 0;
}

.limited-info-1 p{
    color: #f1f1f1;
    margin: 0;
    letter-spacing: 0.1em;
}

#list-limited{
    width: 70vw; 
    height: 100vh;
    margin: 5vh auto 0;
    display: table;
    text-align: justify;
}

#list-limited ol li{
    list-style-type:none;
    color: #f1f1f1; 
    font-size: 16px;
    font-weight: bold;
    line-height: 51px;
    letter-spacing: 0.1rem;
}
#list-limited p{
    list-style-type:none;
    color: #f1f1f1; 
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 31px;
}

.alternated-footer{
    background-color: #0C012D;
    height: 50vh !important;
}

@media only screen and (max-width: 994px){
    #limited{
        width: 80vw;
        margin: 0 auto;
    }
    .limited-row{
        width: auto;
    }
    #list-limited{
        width: 80vw; 
    }
    .limited-info-1 h4{
        font-size: max(0.5rem, 10pt)  
    }
    ul.nav-ul {
        display: none !important;
    }
    .menu {
        display: unset;
    }

    .menu .nav-link{
        position: absolute;
        right: 2vw;
        top:1vh
    }
    a.dropdown-toggle::after {
       display: none !important;
    }
    .dropdown-menu{
        background-color: transparent;
        border: none;
        text-align: end;
        left: unset;
        right:0
    }
    .dropdown-menu a{
        color: #ffffff;
    }
    .dropdown-menu a:hover{
        color: var(--main-color);
        background-color: transparent;
    }
    .dropdown-menu.show {
        display: flex !important;
        top: 8vh;
    }
}
@media  (max-width: 780px){
    .menu a img{
        height: 5vw;
    }
    .dropdown-menu a:hover{
        color: var(--main-color);
        background-color: transparent;
    }
    .dropdown-menu.show {
        display: flex !important;
        top: 7.5vh !important;
    }
    #limited{
        width: 90vw;
        margin: 4vh auto;
    }
   
    #list-limited{
        width: 90vw; 
    }
    .section-limited {
        margin:0 !important;
        width:auto;
        flex-direction: column !important;
    }
    .limited-row{
     margin: 0;
     display: flex;
     flex-direction: column !important;
     width: auto;
     justify-content: start !important;
     gap: 0 !important
 }
 .alternated-footer{
    background-color: #0C012D;
    height: auto !important;
}
 .alternated-footer #info-footer {
     padding:4vh 0
 }
}
