#privacy-body{
    background-image: url('../../img/bg02.webp');
    background-size: cover;
    width: 100vw;
    position: relative;
    background-color: #0C012D;
    background-position: center;
  }
#privacy{
    width: 70vw;
}
.page-privacy{
  
    display: block;
}

.section-privacy h3{
    color:var(--main-color);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.15rem;
    text-align: start;
    width: 70vw;
}
#privacy h4{
    color:#f1f1f1;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.10rem;
    text-align: start;
    width: 70vw;
}

.over-lay-privacy {
    position: relative;
    margin: 7vh auto 0;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.expanded-all {
    position: absolute;
    right:0;
}
.expanded-all a{
    color: #ffff;
    font-weight: bold;
}
.expanded-all a:hover{
    color:var(--main-color);
}

#container-readmore{
    height: 100vh;
    width: 80%;
    display: block;
    margin: 6vh auto 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#container-readmore::-webkit-scrollbar {
    background-color: var(--main-color)48;
    width: 4px;
  }
  
  /* Track */
  #container-readmore::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--main-color)83; 
    border-radius: 50px;
  }
   
  /* Handle */
  #container-readmore::-webkit-scrollbar-thumb {
    background: var(--main-color); 
    border-radius: 10px;
  }

  .title-box{
      text-align: start;
      margin: 0 auto;
      width: 70vw;
      color: #f1f1f1;
      font-size: 16px;
      font-weight: bold;
  }

  .title-box h4{
    color: #f1f1f1;
    font-size: 16px;
    font-weight: bold;
}
  
#text-box {
    border: 2px solid var(--main-color);
    padding: 0.2rem 1rem;
    width: 70vw;
    margin: 4vh auto;
    position: relative;
    cursor: pointer;
}

#text-box p{
    color: #f1f1f1;
    font-size: 20px;
    font-weight: 100;
}

.list-style{
    list-style-type:none;
}

.list-style h5{
    color: #f1f1f1;
    font-size: 16px;
    font-weight: bold;
}

.list-style li{
    list-style-type:none;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: 300;
}

.privacy-list-limited {
    width: 70vw;
    margin: 5vh auto;
}

.privacy-list-limited{
    width: 70vw; 
    margin: 5vh auto;
}

.privacy-list-limited ol li{
    list-style-type:none;
    color: #f1f1f1; 
    font-size: 16px;
    font-weight: bold;
    line-height: 51px;
    letter-spacing: 0.1rem;
}
.privacy-list-limited p{
    list-style-type:none;
    color: #f1f1f1; 
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 31px;
}

.read-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
   color: var(--main-color);
   text-align: start;
}

#footer-privacy {
    height: auto;
    background-image:linear-gradient(to bottom, transparent 0%, #0C012D 75%);
    text-align: start;
}

.btn-back-home {
    margin: 2vh 0 5vh;
    width: 100vw;
    text-align: center;
}

h4.custom-size {
    font-size: 20pt;
}

@media only screen and (max-width: 1090px){
    button#contact {
        display: none;
    }
    button#contact2 {
        display: unset;
    }

    .after-nav {
        margin-top: 10vh;
    }
    .text {
        justify-content: center;
        margin-bottom: 20px;
    }
    .text>div:first-child {
        display: flex;
        flex-direction: column;
        gap: max(3vw, 20px);
        align-items: center;
        width: 30vw;
    }
    .text>div:last-child {
        width: 0;
    }
    .text h1 {
        text-align: center;
    }
}

@media only screen and (max-width: 994px){
.section-privacy {
    margin-top:6vh
}

    .navbar-brand ul {
        display: none !important;
    }
    .menu {
        display: unset;
    }
    .menu .nav-link{
        position: absolute;
        right: 2vw;
        top:3.4vh !important
    }

    a.dropdown-toggle::after {
       display: none !important;
    }
    .dropdown-menu{
        background-color: transparent;
        border: none;
        text-align: end;
        left: unset;
        right:0
    }
    .dropdown-menu a{
        position: relative;
        color: #ffffff;
    }
    .dropdown-menu a:hover{
        color: var(--main-color);
        background-color: transparent;
    }
    .dropdown-menu.show {
        display: flex !important;
        top: 7vh;
    }
    
}

@media only screen and (max-width: 780px){
    .menu a img{
        height: 5vw;
    }
    .dropdown-menu a:hover{
        color: var(--main-color);
        background-color: transparent;
    }
    .dropdown-menu.show {
        display: flex !important;
        top: 5.5vh;
    }
}