#s1 {
  background-image: url("../../../assets/img/stadium.jpg");
  text-align: center;
  height: 117vh !important;
  background-size: cover;
  width: 100vw;
  position: relative;
  padding: 12vh 0 0;
  background-position: center top;
}

#s1 section {
  width: 70vw;
  margin: 0 auto;
}

#s1 h2 {
  font-size: max(2.5vw, 18pt);
  font-weight: 500;
  color: white;
  margin: 3vh 0;
}

#s1 h2 span {
  color: var(--main-color);
}

#s1 h3 {
  font-size: max(1.5vw, 12pt);
  font-weight: 200;
  color: white;
  line-height: 55px;
  margin: 3vh 0 4vh;
}

#s1 .services {

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#s1 .services > .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#s1 .services > .icon p {
  font-size: max(1.1vw, 11pt);
  font-weight: 400;
  color: white;
  margin: 0 3vw;
}

@media only screen and (max-width: 750px) {
  #s1 {
    width: auto;
    height: 100vh !important;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding:4vh 0 0;
    background-color:#0C012D
  }

  #s1 section {
    width: 80vw;
    margin: 0 auto;
  }

  .icon img {
    height: 13vw;
  }
  .icon p {
    font-size: max(1.1vw,8pt) !important;
    text-align: start !important;
  }
  
  #s1 .services {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 36px;
    height: 30vh;
    padding: 0 15vw;
  }

  #s1 h2 {
    margin: 0;
    font-size: max(3vw, 19pt);
    line-height: 35px;
  }

  #s1 h3 {
    margin: 2vh auto 3vh;
    font-size: max(1.5vw, 12pt);
    line-height: 28px;
    width: 60vw;
  }
  #s1 h4 {
    font-size: 14px !important;
  }
}
