#s6 {
    background-image:linear-gradient(to bottom, transparent 0%, #0D0030 75%), url(../../../assets/img/teams.jpg);
    background-size: cover;
    background-position: center;
    background-color: #0D0030;
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 18vh 0;
    position: relative;
}
.s6-section {
    position: relative;
    display: flex;
    flex-direction: row;
}
#s6>div {
    padding:0 3vw
}
.s6-section-1 h2{
    margin:2vh 0 4vh;
    font-size: max(3.5vw, 42pt);
    line-height: max(3.5vw, 60px);
}

.s6-section-1 h4{
    color: white;
}
.s6-section-2 p{
    font-size: max(1.5vw, 1pt);
    color: white;
}

.s6-section-2{
    color: white;
    font-size: 20px;
    font-weight: 100;
}
#linkHere {
    color: #ffffff;
    font-weight: 600;
}
#linkHere:hover {
   color: var(--main-color);
}

@media only screen and (max-width: 990px) {
    #s6 {
        padding:15vh 0 4vh
    }
    .s6-section-2 {
        width: 75vw !important;
        text-align: start;
        margin:8vh 0  0
    }
    .s6-section-1 h2{
        margin:2vh 0 4vh;
        font-size: max(4vw, 28pt);
        line-height: max(3.5vw, 39px);
    }
    .s6-section-2 p{
        font-size: max(1.5vw, 12pt);
        line-height: max(1.8vw, 18pt);
        color: white;
    }
  }