#s3 {
  height: 100vh;
  background-color: #f4f4f4;
}

#s3 section {
  margin: 0 auto;
}

.s3-column {
  width: 95% !important;
}

#s3 h2 {
  font-size: max(2.5vw, 18pt);
  font-weight: 500;
  line-height: max(3.5vw, 55px);
  margin: 3vh 0;
}

#s3 h3 {
  font-size: max(3.5vw, 12pt);
  font-weight: 200;
  line-height: 55px;
  margin: 3vh 0 4vh;
}

.ad-formats a>img:hover{
  background: transparent;
  transition: 0.2s;
  opacity: 0.7;
}

#s3 .formats {
  height: 50vh;
  width: auto;
  margin: -8vh 5vw 0 0;
  position: relative;
}

#s3 .formats img {
  height: 100%;
  width: auto;
}

#s3 .banner-pink1 {
  position: absolute;
  top: 2vh;
  left: -2vw;
  height: 28vh;
  transition: transform 350ms;
}

#s3 .formats:hover .banner-pink1 {
  transform: translate3d(-20px, -16px, 0);
}

#s3 .banner-pink2 {
  position: absolute;
  top: 13vh;
  right: -5vw;
  height: 42vh;
  transition: transform 350ms;
}

#s3 .formats:hover .banner-pink2 {
  transform: translate3d(20px, 16px, 0);
}

#s3 .ad-formats {
  margin: 10vh 0 0;
}

#s3 .ad-formats h2 {
  color: #110630;
  margin: 2vh 0;
}

@media screen and (max-width: 990px) { 
  #s3 .s3-column {
    display: flex;
    flex-direction: column;
  }
  #s3 .formats {
    height: 60vw !important;
  }

  #s3 .ad-formats {
    margin:2vh 0 5vh;
    text-align: center;
  }
  #s3 .banner-pink1 {
    position: absolute;
    top: 2vh;
    left: 0;
    height: 29vw;
    transition: transform 350ms;
  }
  #s3 .formats:hover .banner-pink1 {
    transform: translate3d(-20px, -16px, 0);
  }

  #s3 .banner-pink2 {
    position: absolute;
    top: 10vh;
    right: 1vw;
    height: 43vw;
    transition: transform 350ms;
  }
}

@media (max-width: 790px) {
  #s3 .s3-column {
    display: flex;
    flex-direction: column;
  }
  #s3 .formats {
    height: 56vw !important;
    width: auto;
    margin: -7vh 0 0 3vw;
    position: relative;
  }
  #s3 .ad-formats {
    margin: 6vh 0 ;
  }

  #s3 .banner-pink1 {
    position: absolute;
    top: 2vh;
    left: 0;
    height: 29vw;
    transition: transform 350ms;
  }
  #s3 .formats:hover .banner-pink1 {
    transform: translate3d(-20px, -16px, 0);
  }

  #s3 .banner-pink2 {
    position: absolute;
    top: 6vh;
    right: 4vw;
    height: 43vw;
    transition: transform 350ms;
  }

  #s3 .formats:hover .banner-pink2 {
    transform: translate3d(10px, 16px, 0);
  }

  #s3 .ad-formats {
    text-align: center;
  }
  
  #s3 h2 {
    margin: 2vh 0 4vh !important;
    line-height: 35px;
    font-size: max(2.5vw, 19pt);
  }

  #s3 h3 {
    margin: 0;
  }
}

