#s5{
    background-color: #110630;
    width: 100vw;
    height: 28vh;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 5vh 0 0;
}

.s5-section{
    width: 90vw;
}

.clients {
 padding: 4vh 0;
 align-items:center;
 display: flex;
 justify-content: space-evenly;
}

#client-1 {
    height: 3.2vh;
}

#client-2 {
    height: 3.2vh;
}

#client-3 {
    height: 3.2vh;
}
#client-4 {
    height: 3.5vh;
}

#client-5 {
    height: 6.5vh;
}


  @media only screen and (max-width: 990px) {
    .s5-section{
        width: 88vw;
    }
    
    .clients {
     padding: 4vh 0;
     align-items:center;
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     gap:25px
    }
    
    #client-1 {
        height: 2.4vh;
    }
    
    #client-2 {
        height: 2.4vh;
    }
    
    #client-3 {
        height: 2.4vh;
    }
    #client-4 {
        height: 3.5vh;
    }
    
    #client-5 {
        height: 6.5vh;
    }
    
  }

  @media only screen and (max-width: 790px) {
    .s5-section{
        padding: 0 10vw;
    }
    .s5-section {
        max-width: 900px !important;
        width:auto;
    }
    #s5 .clients {
     padding: 2vh 0 6vh;
     margin: 0 auto;
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     gap:25px
    }
    
    #client-1 {
        height: 2vh;
    }
    
    #client-2 {
        height: 2vh;
    }
    
    #client-3 {
        height: 2vh;
    }
    #client-4 {
        height: 2.4vh;
    }
    
    #client-5 {
        height: 6.5vh;
    }
    
  }


  @media (min-width:1200px) {
    .clients {
        padding: 4vh 0 7vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap:25px
       }
       .s5-section{
        width: 70vw;
    }
  }