#s2 {
  background-image: url(../../../assets/img/gradient-01.png);
  background-size: cover;
  background-position: inherit;
  background-color: #0a012d;
  height: 120vh !important;
  padding: 7vh 0 0;
}

#s2 h2 {
  font-size: max(2.5vw, 18pt);
  font-weight: 500;
  color: white;
  margin: 3vh 0;
}

#s2 h3 {
  font-size: max(3.5vw, 12pt);
  font-weight: 200;
  color: white;
  line-height: 55px;
  margin: 3vh 0 4vh;
}

#s2 .full-width {
  width:55vw !important
 
} 

#s2 .display {
  margin: 8vh 0;
  position: relative;
}

#s2 #display-1 {
  position: absolute;
  left: 2vw;
  height: 24vw;
  width: auto;
  transition: transform 250ms;
}

#s2 .display:hover #display-1 {
  transform: translate3d(-38px, -20px, 0);
}

#s2 #display-1 img {
  height: 100%;
  width: auto;
}

#s2 #display-2 {
  position: absolute;
  right: 11vw;
  z-index: 10;
  top: 11vh;
  height: 24vw;
  width: auto;
  transition: transform 250ms;
}

#s2 .display:hover #display-2 {
  transform: translate3d(38px, 20px, 0);
}

#s2 #display-2 img {
  height: 100%;
  width: auto;
}

#s2 #logo1 {
  position: absolute;
  right: 3%;
  z-index: 10;
  top: -2rem;
  height: 4.5vw;
}

#s2 #logo1 img {
  height: 100%;
}

#s2 #logo2 {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 3rem;
  height: 1.2vw;
}

#s2 #logo2 img {
  height: 100%;
}

@media only screen and (max-width: 790px) {
  #s2 {
    height: 100vh !important;
    padding: 0;
  }
  #s2 .display {
    width: auto;
    height: 50vh;
    margin:8vh 0 0
  }
  #s2 h2 {
    margin: 0 ;
    font-size: max(3vw, 19pt);
    line-height: 35px;
  }
 

  #s2 #display-1 {
    position: absolute;
    left: -3vw;
    top: 17vh;
    height: 40vw;
    width: auto;
    transition: transform 250ms;
  }

  #s2 .display:hover #display-1 {
    transform: translate3d(-18px, -13px, 0);
  }

  #s2 #display-2 {
    position: absolute;
    right: -8vw;
    z-index: 10;
    top: 24vh;
    height: 40vw;
    width: auto;
    transition: transform 250ms;
  }

  #s2 .display:hover #display-2 {
    transform: translate3d(4px, 10px, 0);
  }

  #s2 #logo1 {
    position: unset;
    right: 3%;
    z-index: 40;
    height: 12vw;
    margin-bottom:2vh
  }

  #s2 #logo2 {
    position: unset;
    right: 0;
    z-index: 1;
    top: 1.5rem;
    height: 3.5vw;
    margin:0 0 5vh
  }
  #s2 h4 {
    font-size: 14px !important;
  }

}

@media only screen and (max-width: 994px){ 
  #s2 .full-width {
    width:75vw !important
   
  } 

}

@media  (min-width: 1590px) {
  #s2 #logo1 {
    position: absolute;
    right: 3%;
    z-index: 10;
    top: -2rem;
    height: 4.5vw;
  }
  #s2 #logo2 {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 5rem;
    height: 1.2vw;
  }
}
