#s7 {
  height: 100vh;
  text-align: center;
  background-color: #0d0030;
}

#s7 h2 {
  font-size: max(2.5vw, 18pt);
  line-height: max(3.5vw, 55px);
  font-weight: 500;
  color: white;
  margin: 3vh 0;
}

#s7 h2 span {
  color: var(--main-color);
}

#s7 h3 {
  font-size: max(3vw, 12pt);
  font-weight: 200;
  color: white;
  line-height: 55px;
  margin: 3vh 0 4vh;
}

.section-2 {
  margin: 6vh auto;
  line-height: 14pt;
  width: 100% !important;
}
.section-2 .row{
justify-content: center;
}

.section-2 .text-vertical-center {
  text-align: center;
  vertical-align: middle;
}

.section .iam-choice {
  display: flex;
  justify-content: space-around;
}

.section-2 p {
  color: var(--main-color);
  margin: 0;
  font-size: 1.2rem;
}

.section-2 input {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}

.section-2 label {
  color: #f1f1f1;
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

#formulario .checked input {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}
#formulario .form-check input {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}

.iam-choice input:checked {
  border: 8px solid var(--main-color);
}

.form-check input:checked{
  border: 8px solid var(--main-color);
}

#formulario ::placeholder {
  color: #f1f1f1;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

#formulario input[type="text"] {
  height: 46px;
  color: #ffff;
  padding: 0 1vw;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: transparent;
  margin: 0 0 4vh;
}
#formulario input[type="email"] {
  height: 46px;
  color: #ffff;
  padding: 0 1vw;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: transparent;
  margin: 0 0 4vh;
}
form {
  width:70vw;
  margin: 0 auto;
}

.form-check-input {
  border: 1px solid var(--main-color);
  background-color: transparent;
  margin-left:-1.5rem !important;
  margin-top:0.2rem;
}

#formulario input[type="checkbox"]:checked {
  background-color:  var(--main-color);
}

#formulario .form-check-input:checked {
  color: #ffff;
}

#formulario textarea {
  color: #ffff;
  padding: 1vh 1vw;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: transparent;
  border-collapse: collapse;
}

textarea:hover {
  color: #ffff;
  padding: 1vh 1vw;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: transparent;
  border-collapse: collapse;
}

.consent {
  display: flex;
  margin: 2.5vh 2vw;
  align-items: flex-start;
  justify-content: space-around;
  width: auto;
  font-size: 0.8rem;
  font-weight: 100;
  color: #f1f1f1;
  text-align: start;
  letter-spacing: 0.1rem;

}

.consent a {
  color: #f1f1f1;
}
.consent a:hover {
  color: var(--main-color);
}

.s7-container button {
  margin: 3vh 0 0;
}

#send-message{
  margin:4vh 0;
}
#send-message img:hover{
  background: transparent;
  transition: 0.2s;
  opacity: 0.7;
}

#alerts {
  position: relative;
  display: flex;
  justify-content: center;
  }

#send-email-success{
  margin: 0 auto !important;
  width: 50vw;
  position: absolute;
}
#send-email-error{
  margin: 0 auto !important;
  width: 50vw;
  position: absolute;
}

.alert-primary{
  background-color: transparent !important;
  border: 1px solid var(--main-color) !important;
  color: #f1f1f1;
  font-weight: 500;
  display: none;
}
.alert-primary .bi{
  margin: 0 1vw;
  color: rgb(20, 211, 20);
  font-weight: 500;
}
.alert-danger{
  background-color: transparent !important;
  border: 1px solid var(--main-color) !important;
  color: #f1f1f1;
  font-weight: 500;
  display: none;
}
.alert-danger .bi{
  margin: 0 1vw;
  color: rgb(211, 15, 15);
  font-weight: 500;
}

@media only screen and (max-width: 990px) {
  #s7 {
    height: 150vh;

  }
  .iam {
    width: 100%;
    text-align: start;
  }
  
  .section-2 .iam-choice {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    gap: 7px;
  }
  .section-2 {
    width: 60vw !important;
   }
  .section-2 .row {
  justify-content: start;
   }
   form {
    width:75vw;
  }
}

@media (max-width: 790px) {
  #s7 {
    height: auto;
    padding: 2vh 0;
  }
  .s7-section-1 {
   width: 80vw !important;
   margin:10vh  2vh
  }
  #s7 h2{
    margin:2vh 0 4vh;
    font-size: max(4vw, 19pt);
    line-height: max(3.5vw, 34px);
}
  .section-2 {
   width: 60vw !important;
  }
  form {
    width:75vw;
  }
  form .row{
    padding:0 !important  
  }
  #formulario{
    margin: 0 auto;
    width: 100% !important;
  }
  #formulario input[type=text] {
    padding:0 5vw
  }
  #formulario textarea {
    padding:2vh 5vw
  }
  .form-check-input {
    margin-left:-1rem !important;
    margin-top:0.2rem;
  }
  .consent strong{
    font-size:12px;
    line-height: 10px;
    letter-spacing: normal;
    margin-left:0.8rem
  }
  .consent {
    width: auto;
    margin: 2.5vh 3vw;
  }
  #send-email-success{
    margin: 0 auto !important;
    width: 70vw;
    position: absolute;
  }
  #send-email-error{
    margin: 0 auto !important;
    width: 70vw;
    position: absolute;
  }
}

@media (max-width: 600px) {
  form {
    width:88vw;
  }
}

