#s4 {
  height: 80vh;
  padding: 7vh 0 5vh;
  margin: -10vh auto 0;
  background-image: linear-gradient(
    #f4f4f4 10%,
    #f4e9ed 30%,
    #f5e1e8 60%,
    #f5d7e2 80%
  );
}
#s4 .section{
  gap: 10px;
  width: 100%;
}
#s4 .section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#s4 h2 {
  font-size: max(4vw, 38pt);
  color: #1b1f5a;
  font-weight: 300;
  line-height: 80px;
}

#s4 .members {
  margin: 3vh auto 0;
  text-align: center;
}

#s4 .sub-members {
  display: flex;
  margin: 3vh 0 0;
  justify-content: space-evenly;
  height: 5.7vh;
}
#s4 .sub-members>img:hover {
  height: 5.4vh;
}

#s4 .sub-members img {
  height: 100%;
  width: auto;
}

#s4 .section-two {
  margin: 9vh auto 0;
  height: 40vh;
  justify-content: space-evenly;
}

#s4 .brands img {
  margin: 2vh 0;
}

#s4 #brand-1 {
  height: 2rem;
  width: auto;
}

#s4 #brand-2 {
  height: 1.8rem;
  width: auto;
}

#s4 #brand-3 {
  height: 2.5rem;
  width: auto;
}

#s4 #brand-4 {
  height: 3rem;
  width: auto;
}

#s4 #brand-5 {
  height: 2.5rem;
  width: auto;
}

#s4 #brand-6 {
  height: 1.5rem;
  width: auto;
}

#s4 #brand-7 {
  height: 1.4rem;
  width: auto;
}

#s4 #brand-8 {
  height: 3rem;
  width: auto;
}

#s4 #brand-9 {
  height: 2rem;
  width: auto;
}

@media only screen and (max-width: 990px) {
  #s4 {
    padding: 0;
    height: 110vh;
  }
  #s4 .s4-section-one {
    width: 90vw !important;
  }
  #s4 .sub-members {
    padding: 0 6vw;
    height: 5vh;
  }

  #s4 .section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap:0 !important
  }

  #s4 .statistics-full {
   display: none;
  }

  #s7 h2 {
    line-height: 35px;
  }

  #s4 .section-one h4 {
    text-align: center;
    margin: 3vh 0;
  }

  #s4 .members {
    margin: 2vh 0 3vh;
  }

  .section-two {
    margin: 3vh auto 0 !important;
    text-align: center;
    width: 100% !important;
  }

  .section-two h4 {
    margin: 3vh 0 1vh;
  }

  .section-two .brands-full {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

  }

  

  .brands-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  #s4 .brands-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #s4.brands-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #s4 #brand-1 {
    height: 1.5rem;
    width: auto;
  }
  #s4 #brand-2 {
    height: 1.5rem;
    width: auto;
  }
  #s4 #brand-3 {
    height: 1.5rem;
    width: auto;
  }
  #s4 #brand-4 {
    height: 2rem;
    width: auto;
    margin: 2vh 0;
  }
  #s4 #brand-5 {
    height: 1.5rem;
    width: auto;
    margin: 2vh 0;
  }
  #s4 #brand-6 {
    height: 1rem;
    width: auto;
    margin: 2vh 0;
  }
  #s4 #brand-7 {
    height: 0.8rem;
    width: auto;
  }
  #s4 #brand-8 {
    height: 1.5rem;
    width: auto;
  }
  #s4 #brand-9 {
    height: 1.5rem;
    width: auto;
  }
}

@media (max-width: 790px) {
  #s4 .section {
    gap:0px !important
  }
  #s4 .s4-section-one {
    width: 90vw !important;
  }
  #s4 .statistics-full {
    display: none;
   }

#s4 .section-two {
  margin: 5vh auto 0;
  height: 40vh;
  justify-content: center;
  order:-1
}

.section-two .brands-full {
  width: 94vw;
  margin: 0 auto;
}
}