#terms{
    width: 70vw;
    height: auto;
    overflow-y: hidden;
    position: relative;
   margin: 0 auto;
}
.page-terms{
    height: auto;
    background-color: #0C012D;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-terms h3{
    color:#E73A7F;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.15rem;
    text-align: start;
    width: 70vw;
}
#terms h4{
    color:#f1f1f1;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.10rem;
    text-align: start;
    width: 70vw;
}

ul li {
    list-style-type: none;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.05rem;
  }

.links a {
    list-style-type:none;
    color: #f1f1f1; 
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 31px;
}

.footer-terms {
    padding:7vh 0 4vh;
    background-image:linear-gradient(to bottom, transparent 0%,  #0C012D 75%);
    background-color:   #0C012D;
}

#footer .links a:hover {
    color: #f82b75;
    text-decoration: none;
   }

#info-footer{
    margin: 5vh auto 0 !important;
}
#info-footer ul h4{
    color:#E73A7F;
    font-size: 16px;
}

@media only screen and (max-width: 994px){
#terms {
    width: 80vw !important;
}
.over-lay {
    position: relative;
    margin: 10vh auto 0 !important;
    width: 80vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #info-footer{
      padding:4vh 0 12vh;
      margin: 5vh auto 0 !important;
  }
}
@media only screen and (max-width: 790px){

    #terms {
        width: 90vw !important
    }
    .over-lay {
        align-items: start;
      }
}