<div id="footer">
    <div id="logo-footer">
        <a href="index.html"><img src="assets/img/logo_playhill.svg" alt="Logo Playhill"></a>
    </div>
    <div id="info-footer">
        <div>
            <ul>
                <h4>Playhill Limited</h4>
                <li>Pyketree Business Centre</li>
                <li>Suite 2, Office 4</li>
                <li>Industry Street</li>
                <li>Santa Venera, CBD 5030</li>
                <li>Malta</li>
            </ul>
        </div>
        <div id="icons-footer">
            <h4>Follow us</h4>
            <a href="https://www.linkedin.com/company/playhill/about/"><img src="assets/img/icon-likedin.png" alt=""></a>
            <a href=""><img src="assets/img/icon-facebook.png" alt=""></a>
        </div>
        <div class="links">
            <a href="imprint.html">Imprint</a>
            <a href="privacy.html">Privacy Policy</a>
            <a href="terms&conditions.html">Publishers Terms & Conditions</a>
        </div>
        
    </div>
    <div class="company"><p>© PlayHill Limited</p></div>
    <button id="backtotop"><a href="#top"><img src="assets/img/backtotop.png" alt=""></a></button>
</div>
