<nav class="navbar navbar-expand-lg navbar-light pt-2">
    <div class="container-fluid px-5 py-2">
        <div class="navbar-brand d-flex w-50 justify-content-around logo-header">
            <img src="assets/img/logo_playhill.svg" alt="" />
            <ul class="navbar-nav nav-ul d-flex w-50 justify-content-between">
                <li class="nav-item"><a href="#about">About</a></li>
                <li class="nav-item"><a href="#products">Products</a></li>
                <li class="nav-item"><a href="#media-buying">Media Buying</a></li>
                <li class="nav-item"><a href="#careers">Careers</a></li>
            </ul>
        </div>
        <div class="menu">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/menu-hamb.svg" alt="">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#about">About</a>
                  <a class="dropdown-item" href="#products">Products</a>
                  <a class="dropdown-item" href="#media-buying">Media Buying</a>
                  <a class="dropdown-item" href="#careers">Careers</a>
                </div>
              </li>
        </div>
        <button id="contact">
            <a href="#contact-formulario" id="contact"><img src="assets/img/cta_contact.png" alt="" /></a>
        </button>
    </div>
</nav>

<div class="after-nav">
    <div class="row">
        <div class="text mx-5">
            <div>
                <h1 class="mx-5">
                    <span>We connect</span> </br> the gamming industry to consumers in a
                    responsible way
                </h1>
                <button id="contact2">
                    <a href=""><img src="assets/img/cta_contact.png" alt="" /></a>
                </button>
            </div>
            <div></div>
        </div>
    </div>
    <div class="row connect-bar">
        <div class="text-center col-md-12 col-sm-12 connect">
             <p>CONNECT WITH US</p>
        </div>
        <div class="text-center col-md-12 col-sm-12 bar">
             <img src="assets/img/bar.png">
        </div>
    </div>
</div>
</div>