<div class="section container container-fluid pt-5" >
    <a name="careers" id="careers"></a>
    <div class="s6-section-1 container">
        <h4>CAREERS</h4>
        <h2>Join the </br> team</h2>
    </div>
    <div class="s6-section container">
        <div class="s6-section-2 w-50 ">
            <p>We are growing fast and hiring the most talented people,
                ranging from content writers, developers and media buyers
                to data scientists. If you are interested in working in an
                amazing team, let us hear from you.
                Please take a look at our available posirions <strong>here</strong>.
                If none of those are of your interest but you believe you would
                enrich our team, feel free to complete the form below;
                we will be delighted to get to know you.
            </p>
        </div>
    </div>
</div>