<div class="bg-image pt-2">
    <section>
        <a name="about" id="about"></a>
        <div class="first-text">
            <h4>ABOUT US</h4>
            <h2>We manage a network of more than<span>5K websites/apps</span> owned and operated by third
                parties or by ourselves.</h2>
            <h3>On such websites/app, we provide the following services:</h3>
        </div>
        <div class="services">
            <div class="icon">
                <img src="assets/img/icon01.svg" alt="">
                <p>LEAD GENERATION</p>
            </div>
            <div class="icon">
                <img src="assets/img/icon02.svg" alt="">
                <P>BRANDING</P>
            </div>
            <div class="icon">
                <img src="assets/img/icon03.svg" alt="">
                <p>ACTVATIO/REACTIVATION </br>AND RETENTION</p>
            </div>
        </div>
    </section>
</div>