<div class="container-fluid px-0 container">
    <div class="container s5-section ">
        <h4>CLIENTS</h4>
        <div class="clients">
            <img class="d-mx-4" src="assets/img/bet365.png" alt="Bet365" id="client-1">
            <img class="d-mx-4" src="assets/img/betano.png" alt="Betano" id="client-2">
            <img class="d-mx-4" src="assets/img/stoixman.png" alt="Stoiximan" id="client-3">
        </div>
    </div>
</div>