<div class="section container-fluid container">
    <div class="container d-flex justify-content-between px-0 w-100 s3-column">
        <div class="formats">
            <img src="assets/img/ipad.png" alt="">
            <div class="banner-pink1"> <img src="assets/img/banner01.png" alt=""></div>
            <div class="banner-pink2"> <img src="assets/img/banner02.png" alt=""></div>
        </div>
        <div class="">
            <div class="ad-formats">
                <h4>AD FORMATS</h4>
                <h2>We partnered with thousands of Publishers to display ads on our ad formats and
                    generate leads for our clients</h2>
                    <a href="https://demopublish.com/technical-file/index.html" target="_blank"><img src="assets/img/cta-see-formats.png" alt="See Formats"></a>
            </div>
        </div>
    </div>
</div>