<div class="section container container-fluid" id="contact-formulario">
    <div class="s7-section-1 container w-75">
        <h4>CONTACT US</h4>
        <h2>Whether you are looking to join our amazing team,
            or you are an operator or a publisher that would like
            to work with us, we want to hear from you.
        </h2>
    </div>
    <div class="section-2 w-50">
        <div class="row mr-1">
            <div class="iam mr-4">
                <p>I am</p>
            </div>
            <div class="iam-choice">
                <div>
                    <input type="radio" class="mr-2" id="advertiser" name="iam" value="Advertiser">
                    <label class="mr-3" for="Advertiser">an Advertiser</label>
                </div>
                <div>
                    <input type="radio" class="mr-2" id="publisher" name="iam" value="Publisher">
                    <label class="mr-3" for="Publisher">a Publisher</label>
                </div>
                <div>
                    <input type="radio" class="mr-2" id="candidate" name="iam" value="Candidate">
                    <label class="mr-3" for="Candidate">a Candidate</label>
                </div>
                <div>
                    <input type="radio" class="mr-2" id="other" name="iam" value="Other">
                    <label class="mr-3" for="Other">Other</label>
                </div>

            </div>
        </div>
    </div>

  
    <div id="formulario" class="w-75 m-auto">
        <div class="col-12">
            <form class="">
                <div class="row col-12">
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="usuario_nome" id=""
                            placeholder="YOUR NAME">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="usuario_email" id=""
                            placeholder="YOUR EMAIL"></div>
                </div>
                <div class="row col-12">
                    <div class="col-md-12">
                        <textarea name="message" class="form-control" placeholder="MESSAGE" id="message"
                            rows="10"></textarea>
                    </div>
                </div>
              
                <div class="row col-12 form-check consent">
                    <div class="col-md-12">
                        <input type="checkbox" class="form-check-input mr-2" id="Other" name="" value="Other" class="form-check-input">
                        <strong for="Other">I consent to the processing of my personal data for the purpose of being contacted and declare that i have read and agreed to <b><i>Playhill's Privacy Policy</i></b></strong>
                    </div>
                </div>
                <button id="send-message">
                    <a href=""><img src="assets/img/cta_message.png" alt="" /></a>
                </button>
            </form>
               
        </div>

    </div>
</div>