<div class="section container-fluid container">
    <div class="container px-0 w-75 text-center full-width">
        <div>
            <h4>OUR PRODUCTS</h4>
            <h2>
                Our own portfolio includes websites that deliver 
                high-quality content for our users and 
                generate leads for our partners
            </h2>
        </div>
        <div class="display container ">
            <div id="display-1"><img src="assets/img/web_02.png" alt=""></div>
            <div id="display-2"><img src="assets/img/web_01.png" alt=""></div>
            <div id="logo1"><img src="assets/img/logo-mejores-apuestas.png" alt=""></div>
            <div id="logo2"><img src="assets/img/logo-grecia.png" alt=""></div>
        </div>
    </div>
</div>

