<div class="section container d-flex row align-items-center justify-content-between container mx-auto partners">
    <div class="s4-section-one w-50 col container">
            <div class="statistics-1 d-flex justify-content-around d-w-75">
                <div class="text-center ">
                    <h4>WEBSITES / APPS</h4>
                    <h2>+5K</h2>
                </div>
                <div class="text-center ">
                    <h4>AD IMRESSIONS</h4>
                    <h2>+3.5B</h2>
                </div>
            </div>
            <div class="text-center statistics-1 ">
                <h4>LEADS</h4>
                <h2>+1.3M</h2>
            </div>
        <div class="members">
            <h4>MEMBERSHIPS, LECENCES AND</br> CERTIFICATIONS</h4>
            <div class="sub-members">
                <img src="assets/img/iabuk.png" alt="iab.uk">
                <img src="assets/img/iabeurope.png" alt="iab.europe">
                <img src="assets/img/hgc.png" alt="HGC">
                <img src="assets/img/dge.png" alt="DGE">
            </div>
        </div>
    </div>

    <div class="section-two  px-0 d-flex flex-column container">
        <a name="media-buying" id="media-buying"></a>
        <h4>MEDIA BUYING TEAMS</h4>
        <div class="brands-full container pr-1 pl-0 d-w-100 justify-content-between row">
            <div class="brands d-flex flex-column align-items-start justify-content-between col-2 p-3">
                <img src="assets/img/supernovacy.png" alt="Supernovacy" sizes="" id="brand-1">
                <img src="assets/img/JLS.png" alt="JLSADV" id="brand-4">
                <img src="assets/img/directadx.png" alt="DirectAdx" id="brand-7">
            </div>
            <div class="brands d-flex flex-column align-items-center justify-content-between col-2 p-3">
                <img src="assets/img/primads.png" alt="PrimADS" id="brand-2">
                <img src="assets/img/justclick.png" alt="JustClickADS" id="brand-5">
                <img src="assets/img/g-1.png" alt="G13" id="brand-8">
            </div>
            <div class="brands d-flex flex-column align-items-end justify-content-between col-2 p-3">
                <img src="assets/img/ads.png" alt="ADSsupplier" id="brand-3">
                <img src="assets/img/onrunads.png" alt="OnRunADS" id="brand-6">
                <img src="assets/img/improvingads.png" alt="ImprovingAds" id="brand-9">
            </div>
        </div>
    </div>
</div>